html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {

	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* debut de mon css*/

.desktop {

	width: 100vw;
	height: 100vh;
}

/* Sidenav menu */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: -250px;
	background-color: #e8e8e8;
	padding-top: 60px;
	transition: left 0.5s ease;
	display: none;
}


/* Sidenav menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #111;
}

.sidenav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Active class */
.sidenav.active {
	left: 0;
}

/* Close btn */
.sidenav .close {
	right: 25px;
	font-size: 36px;
}

/* Icône burger */
.burger-icon span {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
	display: none;
}

.logo1 {
	display: none;
}

.logo {
	display: flex;
	width: 10%;
}

.bandeau {
	display: flex;
	height: 10%;
	padding: 0px 59px 0px 59px;
	gap: 200px;
	top: 0;
	background: linear-gradient(90deg, #003049 0%, #0073AF 100%);
	justify-content: space-between;

}


.block {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: end;
}

.nav {
	width: 245px;
	height: 48px;
	gap: 0px;
	display: flex;
	color: #F77F00;
}

.nav1 {
	width: 245px;
	height: 48px;
	gap: 0px;
	display: flex;
}

.contact {
	width: 195px;
	height: 48px;
	gap: 0px;
	background: #F77F00;
	align-items: center;
	display: flex;
	border-radius: 40px;
}

a {
	color: #EAE2B7;
	margin: 20px;
	text-decoration: none;
}

.icon {
	width: 26px;
	height: 26px;
	top: 11px;
	gap: 0px;
	display: flex;
}

.hero {
	background: linear-gradient(180deg, #EAE2B7 0%, #FCBF49 100%);
	height: 100%;
	display: flex;
	background-image: url(../reparation/assets/outils.png);
	background-size: cover;
	align-items: center;
	justify-content: flex-end;
}

h1 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	height: 50%;
	font-size: 60px;
	text-align: center;
}

.button-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.recherche {
	background: #EAE2B7;
	width: 90%;
	Height: 10%;
	margin: 5%;
	gap: 10%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 92%;
	background: linear-gradient(180deg, #EAE2B7 0%, #FCBF49 100%);
}



.dropdown-button {
	border-radius: 40px;
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	margin: 5px;
	border: none;
	cursor: pointer;
	width: 172px;
	justify-content: space-around;
	display: flex;
}

.dropdown-menu {
	width: 30%;
	display: none;
	flex-direction: column;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	position: absolute;
}

.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1;
}

.search-container {

	margin-top: 3px;
}

.search-button {
	background-color: #EAE2B7;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.search-button img {
	width: 20px;
	height: 20px;
}

.search-form {
	width: 300px;
}

.result-container {
	background-image: url(../reparation/assets/deroulant.png);
	width: 87%;
	Height: 82%;
	margin: 5%;
	gap: 10%;
	border: 1px solid #EAE2B7;
	margin-top: 0px;
	justify-content: center;
	display: none;

}

.qui {
	background: linear-gradient(180deg, #EAE2B7 0%, #FCBF49 100%);
	width: 100%;
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: 2fr;
}

.autre {
	width: 60%;
	margin: auto;
}

.repar {
	padding: 10%;
	grid-row: -2;
	grid-column: 2;
}

h2 {
	text-align: center;
	font-size: 40px;
	margin: auto;
}

h3 {
	text-align: center;
	font-size: 16px;
	margin: auto;
}

.autre1 {
	width: 60%;
	margin: auto;
	align-items: center;
}

h4 {
	text-align: center;
	font-size: 40px;
	margin: auto;
}

h5 {
	text-align: center;
	font-size: 16px;
	margin: auto;
	justify-content: space-between;
}

.video {
	width: 642px;
	height: 331px;
	top: 5px;
	gap: 0px;
	border-radius: 20px 0px 0px 0px;
	margin: 10%;
	grid-row: 2;
	grid-column: 1;
}

.help {
	background: #003049;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact-form {
	align-self: center;
	background-color: #f7ab07;
	padding: 5%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 620px;
	margin: 16%;
}

.contact-form h2 {
	margin-top: 0;
}

.contact-form .form-group {
	margin-bottom: 40px;
}

.contact-form .form-group label {
	display: block;
	margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.contact-form .form-group textarea {
	resize: vertical;
}

.contact-form button {
	padding: 10px 15px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: #0056b3;
}

.carte {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.local {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	gap: 5%;

}

.appel {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 5%;
}

.mail {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 5%;

}

.carousel {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	justify-items: center;
}

h9 {
	font-size: 40px;
}

#carousel-image-0 {
	transform: translateX(-50%) translateX(30%) scale(1);
	filter: brightness(100%);
	z-index: 1;
}

#carousel-image-1 {
	transform: translateX(-50%) translateX(40%) scale(1);
	filter: brightness(100%);
	opacity: 1;
	z-index: 2;
}

#carousel-image-2 {
	transform: translateX(0%) scale(1);
	filter: brightness(100%);
	opacity: 1;
	z-index: 3;
}

#carousel-image-3 {
	transform: translateX(-50%) translateX(60%) scale(1);
	filter: brightness(100%);
	opacity: 1;
	z-index: 2;
}

@media (max-width:800px) {
	.bandeau {
		height: 10vh;
		padding: 0px 20px 0px 20px;
		gap: 0px;
		justify-content: space-between;

	}

	.nav {
		display: none;
	}

	.block {
		display: none;
	}

	.logo {
		display: none;
	}

	.logo1 {
		display: flex;
		height: 77px;
		padding: 0px 30px 0px 30px;
		border-radius: 40px 0px 0px 0px;

	}

	.recherche {
		display: none;
		width: 40%;
		justify-content: center;
		align-items: flex-start;
	}
.video{
	width: 125vw;
}
	.sidenav {
		display: flex;
	}

	.burger-icon span {
		display: flex;
	}

	.hero {
		display: flex;
		height: 220px;

	}

	h1 {
		font-family: "Unlock";
		font-size: 20px;
		letter-spacing: -0.02em;
		text-align: center;
	}

	.qui {
		display: flex;
		flex-direction: column;
	}


	h4 {
		font-size: 30px;
	}

	.help {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.carte {
		width: 40vw;
		align-items: flex-start;
	}

	.carousel {
		display: flex;

	}
}