html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {

	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* debut de mon css*/
.desktop {
	width: 100%vw;
	height: 100%wh;
	gap: 0px;
	opacity: 0px;
}

.bandeau {
	display: flex;
	width: Fixed (1, 440px)px;
	height: Fixed (100px)px;

	padding: 0px 59px 0px 59px;
	gap: 200px;
	opacity: 0px;
	background: linear-gradient(90deg, #003049 0%, #0073AF 100%);
}

.block {
	display: flex;
	width: Fixed (879px)px;
	height: Hug (48.5px)px;
	gap: 20px;
	opacity: 0px;
	align-items: center;
}

.nav {
	width: 245px;
	height: 48px;

	gap: 0px;
	opacity: 0px;
	display: flex;
	align-items: right;
	color: #F77F00;
}

.nav1 {
	width: 245px;
	height: 48px;

	gap: 0px;
	opacity: 0px;
	display: flex;
	align-items: right;
}

.contact {
	width: 195px;
	height: 48px;
	gap: 0px;
	opacity: 0px;
	background: #F77F00;
	align-items: center;
	display: flex;
	border-radius: 40px;
}

a {
	color: #EAE2B7;
	margin: 20px;
	text-decoration: none;
}

.icon {
	width: 26px;
	height: 26px;
	top: 11px;
	gap: 0px;
	opacity: 0px;
	display: flex;
}

.hero {
	background-color: linear-gradient(180deg, #EAE2B7 0%, #FCBF49 100%);
	height: 100%;
	display: flex;
	background-image: url(../lambertrepare/assets/outils.png);
	background-size: cover;
	align-items: center;
}

h1 {
	width: 100%;
	height: 90%;
	
	font-size: 80px;
	font: 'Nico Moji';
	text-align: center;
	position: absolute;
	top: 60%;
}

.button-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.recherche {
	background: #EAE2B7;
	width: 90%;
	Height: 10%;
	margin: 5%;
	gap: 10%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 94%;
	background-color: linear-gradient(180deg, #EAE2B7 0%, #FCBF49 100%);
}


body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}



.dropdown-button {
	width: 80px;
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	margin: 5px;
	border: none;
	cursor: pointer;
	width: 150px;
	justify-content: space-between;
	display: flex;
}

.dropdown-menu {
	width: 30%;
	display: none;
	flex-direction: column;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	position: absolute;
}

.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1;
}

.search-container {
	margin-top: 20px;
}

.search-button {
	background-color: #EAE2B7;
	;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.search-button img {
	width: 20px;
	height: 20px;
}

.result-container {
	width: 90%;
	Height: 50%;
	margin: 5%;
	gap: 10%;
	border: 1px solid #EAE2B7;
	margin-top: 20px;
	justify-content: center;
	display: block;
	
}
.person{
	width: 100%;
	display: grid;
}
